* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body, html{
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
 }
.home{
  background-image: url('assets/mainbg.png');
  height: 100vh;
  width: 100vw;
}

#proto{
  width: 25vmax;
}
#mainContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}
.rightPart, .leftPart{
  display: flex;
  width: 50vw;
  justify-content: center;
}
#catchPhrase{
  font-size: 60px;
  color: #684400;
  font-family: "Playfair Display SC", serif;
}