$base-purple: rgba(32, 5, 32, 0.438);
@mixin zero-out{
  margin: 0;
  padding: 0;
}

* {
  @include zero-out;
  box-sizing: border-box;
}
 body, html{
  @include zero-out;
  height: 100%;
  width: 100%;
 }
.home{
  background-image: url('assets/image.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;  
  height: 100vh;
}

#proto{
  width: 20vmax;
}
#mainContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100;
}
.rightPart, .leftPart{
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
}
#catchPhrase{
  font-size: 2vw;
  letter-spacing: .15em;
  color: $base-purple;
  white-space: nowrap;overflow: hidden;
  border-right: 2px solid $base-purple;

  font-family: 'Courier New', Courier, monospace;
  animation: typing 2s steps(21), caret 1s step-end infinite;
}
@keyframes typing{
  from { width: 0 }
  to { width: 21ch }
}
@keyframes caret {
  from, to { border-color: transparent }
  50% { border-color: $base-purple; }
}
@media only screen and (max-width: 1724px) {

  #catchPhrase{
  font-size: 3vw;
  }
  #mainContent{
    display: flex;
    flex-direction: column;
  }
}

#navbar{
  width: 100%;
  display: flex;
  height: 6vh;
  box-sizing: border-box;
  background-color: $base-purple;
  padding-inline: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.navLogo{
  height: 80px;
}
#leftNav {
  width: 20vw;
}

#rightNav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-inline: 10px;
}
.navButtons{
  font-family: 'Courier New', Courier, monospace;
  background-color: transparent;
  border: none;
  padding-inline: 10px;
  font-size: 1.5em;
  color: #f8f8f8;
}
#about{
  margin-right: 15%;
}
.navButtons:hover{
  cursor: pointer;
}

.tryOutButton{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 5%;
  border: 2px solid black;
  border-radius: 30px;
  transition: all 0.8s ease;
  background: transparent;
}
.tryOutButton:hover{
  cursor: pointer;
  margin-left: -10px;
  box-shadow: 20px 16px rgb(84, 40, 95);
}
.tryOutButton#spot:hover{
  box-shadow: 20px 16px rgb(10, 116, 72);
}
#content{
  margin-top: 10%;
  padding-inline: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:flex-start;
}
.buttonContent{
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1124px) {
  #content{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .tryOutButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 30px;
    transition: all 0.8s ease;
    background: transparent;
  }
}

#separateText{
  margin-right: 15px;
}



/* =======================MUSIC CHAT============================= */


.customInput {
  width: 100%;
  max-width: 800px;
  min-height: 150px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #9fa4b1;
  border-radius: 0.75rem;
  resize: none;
  outline: none;
  box-shadow: 0 5px 5px rgba(22, 23, 23, 0.05);
  transition: border-color 0.2s, box-shadow 0.2s;
  background: white;
  margin-bottom: 100px;
}

.customInput:focus {
  outline: none;
  border: 1px solid #9ba2ac;
  box-shadow: 0px 3px 15px #909cab;
}

.musicChatComponents{
  width: 100%;
  height: 100vh;
  display: flex;
}
.sideBar{
  resize: horizontal;
  overflow: auto;
  width: 20%;
  min-width: 200px;
  padding: 20px;
  border-right: 1px solid rgb(223, 223, 223);
}
.plusButton{
  display: flex;
  width: 32px;   
  height: 32px;  
  background-color: transparent;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid rgb(133, 133, 133);
}
.inLineDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Subheading{
  font-size: 1.6vmax;
  color: rgb(99, 99, 108);
}
#myChat{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: last baseline;
}

#otterForButton{
  max-width: 60px;
}
#otterButton{
  position: absolute;
  bottom: 120px;
  right: 20px;
  background-color: black;
  border-radius: 50%;
  border: none;
  width: 70px;
  height: 70px;
  transition: all .5s ease;
}
#otterButton:hover{
  transform: scale(1.08);
}
#chatBox{
  width: 100%;
  max-width: 800px;
  min-height: 150px;
  position: relative;
}


/* =======================Spotify============================= */

#SpotifyPage{
    background-color: #21252b;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;  
    height: 100vh;
}