@use "sass:color";
$base-purple: rgba(32, 5, 32, 0.132);

@mixin flex-column ($col: false, $center: false, $justify_center: false){
  display: flex;
  flex-direction: row;
  @if $col{
    flex-direction: column;
  }
  @if $center{
    align-items: center;
  }
  @if $justify_center {
    justify-content: center;
  }

}
@mixin set_background($url){
  background-color: #21252b89;
  background-image: url($url);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;  
  min-height: 100vh;
}

/* =======================MusicEdit============================= */

#EditPage{
  padding: 30px;
  @include flex-column(false, false, false);
  justify-content: space-between;
  @include set_background('assets/winter-blue-pink-gradient-background-vector_53876-117276.jpg');

}
#editingRegion {
  background-color: #9592cc;
  color: white;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 20px;
}
#sideBar{
  overflow: auto;
  width: 20%;
  height: 100vh;
  min-width: 350px;
  padding: 10px;
  background: rgba(129, 66, 134, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(46, 26, 46, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  scrollbar-color: #534c7962 transparent;
}

#editingSide{
  width: 75%;
}
#playButton{
  background-color: rgb(15, 4, 15);
}
.audio-player {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $base-purple;
  padding: 15px;
  width:fit-content;
  color: white;

}
.musicSelect{
  padding: 13px;
  background: rgba(145, 233, 233, 0.2);
  border-radius: 16px;
  margin-top: 10px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(109, 206, 219, 0.1);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(53, 94, 87, 0.3);
  transition: 0.3s ease-in-out all;
}


.musicSelect:hover{
  transform: translateY(-3px);
  background: rgba(184, 198, 214, 0.719);

}
button {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin: 6px;
  gap: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  background: #ffffffcc; 
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.05);
}
#draggable_area{
  padding: 30px;
  border: 1px solid rgb(211, 211, 211);
  box-sizing: border-box;
  border-radius: 20px;
  background: white;

}
button:hover {
  background: #f0f0f0;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.98);
  background: #e8e8e8;
}

button:disabled {
  background: #ddd;
  color: #999;
  cursor: not-allowed;
  box-shadow: none;
}

.audio-player button {
  background-color: #6c63ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
}

.audio-player button:hover {
   background-color: #574fd6;
}
.progress{
  width: 300px;
}
#progress-bar {
  background-color: rgb(175, 43, 175);
}
#volumeSlider{
  width: 60px;
  cursor: pointer;

}

#workshopSideBar{
  color: white;
  background-color: rgba(8, 7, 8, 0.749);
  position: absolute;
  right: 0px;
  width: fit-content;
  padding: 30px;
  height: 100%;

}

.cutButtons{
    margin-top: 30px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#audioWorkshopWavesurfer, .channel, .dropMp3, .dropMp3-dragging, #drums{
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#drums{
  @include flex-column(false, true, false);
  justify-content: space-evenly;
}
#stepGrid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 10px;
  padding: 20px;
}

.drumPockets, .filledPockets, .allFilled {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  background-color: #d5d7db;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  font-weight: 600;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out all;
  box-shadow:
  0 1px 2px rgba(0, 0, 0, 0.2),
  0 4px 6px rgba(0, 0, 0, 0.1);
}
.filledPockets {
  background-color: #f3c69b;
  color: white;
  padding: 8px;

  box-sizing: border-box;
  transform: translateY(-5px);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 4px 4px 6px rgba(247, 244, 218, 0.842),     /* bottom-right inner shadow */
    inset -4px -4px 6px rgba(201, 32, 111, 0.3); /* top-left inner light */

}

.allFilled{
  background-color: #9bc1f3;
  color: white;
  padding: 8px;

  box-sizing: border-box;
  transform: translateY(-5px);
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.2),
    0 4px 6px rgba(0, 0, 0, 0.1),
    inset 4px 4px 6px rgba(218, 247, 243, 0.842),     /* bottom-right inner shadow */
    inset -4px -4px 6px rgba(68, 11, 161, 0.3); /* top-left inner light */
}

// ================== Stretch ==================


.drumList{
  margin-bottom: 2px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
#drumSection > button {
  padding: 10px 18px;
  margin: 6px;
  border: none;
  border-radius: 20px;
  background: #ececec;
  color: #373737;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s ease;
}
#drumSection > button:hover {
  background: #ffffff;
}


.trash, .upload{
  cursor: pointer;
}
#backButton {
  // position: absolute;
  top: 0px;
  left: 20px;
  padding: 0.5rem;
  background: transparent;
  border: none;
  color: #fcfcfc;
  font-size: 1.9rem;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;

  &:hover {
    background-color: #eee;
    color: #000;
  }
}


